// Import bootstrap
// @import 'packages/bootstrap3-sass/bootstrap';

@import '.style_modules/colors';

body {
	font: 14px;
	color: #f0f0f0;
	background-color: #333;
}

h1,h2,h3,h4,h5,h6 {
	color: #FFF28C;
}

#title {
	color: $green;
}

//Grids
#col_left {
	width: 1200px;
}

#col_right {
	padding-left: 30px;
	vertical-align: top;
}


#timeline_text {
	margin-bottom: 10px;
	height: 1.5em;
	clear: both;
	// text-align: center;
	h5, div {
		display: inline;
	}
	#selected_microblogs {
		float: right;
	}
	#total_microblogs, #current_day {
		float: left;
	}
	#total_microblogs {
		margin-left: 1em;
	}
}


// Map Styles Styles
svg#map {
	background: url("/images/Vastopolis_Map.png");
	background-size: cover;

	g.hour_group {
		display: none;
		visibility: hidden;
	}
	g.showing {
		display: inherit !important;
		visibility: visible !important;
	}

	.extent {
	  fill: #61F28F;
	  fill-opacity: .125;
	  stroke: #fff;
	}
}
.pin {
	fill: #F2465A;
	fill-opacity: 0.8;
}

.hospitals {
	// fill: none;
	// stroke
}

// View Options Styles
.mousecoords {
	span {
		margin-left: 10px;
	}
}

// Loading Screen
#loading_screen {
	position: absolute;
	background-color: #333;
	width: 100%;
	height: 100%;
	z-index: 9999;
	#loading_contents {
		text-align: center;
		margin: 0 auto;
		width: 60%;
		margin-top: 400px;
	}
}


// Browse Blogs Modal
.modal {
	h4 {
		color: black;
	}
}

#context, #focus {
	.area {
	  fill: $blue;
	}
	.selected {
	  fill: #78C656;
	}
	.extent {
	  fill: white;
	  fill-opacity: .125;
	  stroke: #fff;
	  &.explored {
	  	stroke: $yellow;
	  }
	}
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #f0f0f0;
	  shape-rendering: crispEdges;
	}

	.axis text {
	  fill: #f0f0f0;
	  font-size: 11px;
	}
}

#focus {
	.bar {
		fill: #A6A0CF;
		&:hover {
			fill: #FFEC6F;
		}
		&.selected {
			fill: $green;
		}

	}

}

#map_container {
	position: relative;
}

// Date Range
#date_range {
	position: absolute;
	width: 340px;
	left: 50%;
	bottom: 0;
	line-height: 2em;
	background: rgba(51, 51, 51, 0.58);
	margin-left: -170px;
	text-align: center;
}