// Import bootstrap
// @import 'packages/bootstrap3-sass/bootstrap';

//Grids
#col_left {
	width: 1200px;
}

#col_right {
	padding-left: 30px;
	vertical-align: top;
}


// Map Styles
svg#map {
	background: url("images/Vastopolis_Map.png");
	background-size: cover;
}
.pin {
	fill: #F2465A;
	fill-opacity: 0.5;
}

.hospitals {
	// fill: none;
	// stroke
}


.extent {
  fill: #61F28F;
  fill-opacity: .125;
  stroke: #fff;
}

.overlay {
	fill: none;
	pointer-events: all;
}

// View Options Styles
.mousecoords {
	span {
		margin-left: 10px;
	}
}