$yellow: #FFEC6F;
$blue: #5EB4E3;
$green: #78C656;

// Typography Colors
.yellow {
	color: $yellow;
}


// Pin colors
.orange .pin {
	fill: #FF9F00;
}
.blue .pin {
	fill: #00AAB5;
}

.pink .pin {
	fill: #FE4365;
}

.red .pin {
	fill: #FF2E00
}

.green .pin {
	fill: #A8BF12;
}

.yellow .pin {
	fill: #FBD506;
}

.aqua .pin {
	fill: #21B095;
}

.brown .pin {
	fill: #B05921;
}

.peach .pin {
	fill: #FFA170;
}

.purple .pin {
	fill: #8E01CA;
}


