$yellow: #FFEC6F;
$blue: #5EB4E3;
$green: #78C656;
$orange: #FF9F00;

// Typography Colors
.yellow {
	color: $yellow;
}


// Pin colors
.orange .pin, path.orange {
	fill: #FF9F00;
}
.blue .pin, path.blue {
	fill: #00AAB5;
}

.pink .pin, path.pink {
	fill: #FE4365;
}

.red .pin, path.red {
	fill: #FF2E00
}

.green .pin, path.green {
	fill: #78C656;
}

.yellow .pin, path.yellow {
	fill: #FBD506;
}

.aqua .pin, path.aqua {
	fill: #00FFFF;
}

.brown .pin, path.brown {
	fill: #B05921;
}

.peach .pin, path.peach {
	fill: #FFA170;
}

.purple .pin, path.purple {
	fill: #8E01CA;
}


