<template name="view_options">
	<h4>Mouse Coordinates:</h4>
	<div class="mousecoords">
		<p><strong>N:</strong><span class="y">0</span></p>
		<p><strong>W:</strong><span class="x">0</span></p>
	</div>

	<h4>Map</h4>
	<div class="btn-group map_color">
	  <button type="button" class="btn btn-default" data-color="bw">BW</button>
	  <button type="button" class="btn btn-default active" data-color="color">Color</button>
	</div>

	<h4>View Options</h4>
	<div class="option_checkboxes">
		<div><label> <input type="checkbox" value="microblogs" checked="checked"> Microblogs </label></div>
		<div><label> <input type="checkbox" value="hospitals"> Hospitals </label></div>
		<div><label> <input type="checkbox" value="weather"> Weather </label></div>
	</div>

	<!-- Button trigger modal -->
<!-- 	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#browse">
	  Browse Microblogs
	</button> -->

	<div class="section">
		Selected: <span class="yellow">{{selected_count}}</span>
	</div>

	<button class="btn btn-primary" id="explore_section" data-toggle="button">Plot Overview</button>

	<br><br>

	<ul class="nav nav-tabs">
	  <li class="active"><a href="#overview_tab" data-toggle="tab">Overview</a></li>
	  <li><a href="#filter_tab" data-toggle="tab">Filter Streamgraph</a></li>
	</ul>

	<div id="search_section">
		<h5>Filter Terms</h5>
			<form action="" id="search">
				<div class="input-group">
						<input class="form-control" type="text" placeholder="Enter search term">
						<span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button></span>
				</div>
			</form>
		<h5>Results</h5>
		<div id="results_container"></div>
	</div>

</template>


<template name="search_unit">
	<div class="search_unit" data-search-id="{{search_unit.search_id}}">
		<span class="clickable">
			<svg height="15" width="15" class="{{search_unit.color}}" style="margin-bottom: -2px">
				<rect x="0" y="0" width="15" height="15" rx="5" ry="5" class="pin"/>
			</svg>
			  <span class="term">{{search_unit.search_text}}</span>
		</span>
			  <span class="glyphicon glyphicon-remove"></span>
			  <span class="number">{{search_unit.count}}</span>
	</div>
</template>